@font-face {
    font-family: "Montserrat-Regular";
    src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Bold.ttf");
}

body{
    margin: 0 !important;
}

.back-image{
    width: 100%;
}


/* COMIENZO DEL NAVBAR */

.navbar{
    min-height: 65px;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    align-items: center;
}

.wrap-logo{
    width: 50%;
    margin-left: 3rem;
}
.wrap-items{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.items{
    font-family: "Montserrat-Regular";
    color: rgba(83, 83, 83, 0.938);
    font-size: 0.75rem;
    text-decoration: none;
}
.items:hover{
    color: rgba(83, 83, 83, 0.738);
    cursor: pointer;
}

/* FIN DEL NAVBAR */


/* COMIENZO SECCION BIENVENIDO */

.welcome{
    min-height: 510px;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrap-welcome-text{
    font-family: "Montserrat-Regular";
    width: 40%;
    margin-left: 5rem;
}

.title-wrapper{
    min-height: 50%;
}

.pre-title{
    font-size: 2rem;
    width: 100%;
}

.title{
    font-size: 5rem;
    width: 100%;
    font-family: 'Inter';
    margin-bottom: 25px;
}

.sub-info{
    margin-top: 15px;
    color: rgba(83, 83, 83, 0.938);
}

.wrap-pc{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty{
    width: 15%;
}

/* FIN SECCION BIENVENIDO */



/* COMIENZO DE LA SECCION SIMPLE Y ACCESIBLE */

.simple{
    min-height: 380px;
    background-color:#b1bab9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.img-wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat-Regular";
    align-items: center; 
    gap: 5px;
}


.sub-img{
    max-height: 10rem;
}

.img-title{
    font-size: 1.1rem;
}

.img-subtitle{
    font-size: 0.7rem;
}

.img{
    height: 4rem;
}

/* FIN DE LA SECCION SIMPLE Y ACCESIBLE */

/* COMIENZO POP UP */

.container-popup {
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    display: none;
}

.pop-up{
    background: rgba(0, 0, 0, 0.6);
    min-width: 630px;
    min-height: 480px;
    background-image: url('images/plan.png');
    background-repeat: no-repeat;
    font-family: 'Montserrat-Regular';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pop-up-info{
    align-items: center;
    justify-content: center;
    display: flex;
    justify-items: center;
    text-align: center;
}

.pop-up-header{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.close-pop-up{
    position: relative;
    top: 0;
    right: 0;
    font-size: 25px;
    width: 10%;
    cursor: pointer;
}

.close-pop-up:hover{
    color: grey;
}

.rectangle{
    height: 342px;
    width: 441px;
    background-color: rgba(255, 255, 255, 0.726);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.divisor{
    height: 6px;
    background-color: black;
    border: 1px solid #000000;
    width: 70%;
}

.plan-e{
    font-size: 3.5rem;
}

.subtitle{
    font-size: 1.3rem;
}

.black-rectangle{
    background-color: black;
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.posible{
    font-size: 2rem;
    color: #FFFFFF;
}

.mail{
    font-size: smaller;
    margin-top: 0.5rem;

}

.input-mail{
    width: 70%;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
}

.suscribe-button{
    font-size: 1rem;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 40%;
    height: 40px;
    background-color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}

.suscribe-button:hover{
    background-color: rgb(73, 73, 73);
}

/* FIN DEL POP UP */

/* SECCION PLAN E */

.container-plan{
    min-height: 200px;
    background-color: #e9e9e9;
    padding: 25px;
    height: 100%;
}

.tile-divisor{
    background-color: black;
    border: 1px solid #000000;
    width: 90%;
}

.tile-wrap{
    display: flex;
    margin: 50px;
    flex-direction: row;
    height: 100%;
}

.image-wrap{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.text-wrap{
    width: 50%;
    flex-direction: column;
    gap: 20px;
}

.normal-text{
    width: 100%;
    gap: 2rem;
    font-family: 'Montserrat-Regular';
    margin-bottom: 200px;
    color: #000000;
    font-size: 0.8rem;
}

.info{
    color: rgba(83, 83, 83, 0.938);
}

#buttonPopUp{
    background-color: #000000;
    color: #FFFFFF;
    margin-top:10px;
    height: 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    border-style: none;
}

#buttonPopUp:hover{
    background-color: rgba(83, 83, 83, 0.938);
    border-color: rgba(83, 83, 83, 0.938);
}
/* FIN SECCION PLAN E */

/* COMIENZO DE LA SECCION INFORMACION PLEGABLE */
.container-more-info{
    height: 670px;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: row;
}

.wrapper-info-slots{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-slot{
    min-height: 80px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat-Regular";
    border-bottom: 2px solid rgba(83, 83, 83, 0.938);
}

.slot-text{
    display: none;
    width: 90%;
    font-family: "Montserrat-Regular";
    font-size: 0.8rem;
    text-align: justify;
    margin-top: 20px;
    color:  rgba(83, 83, 83, 0.938);
}

.arrow-img{
    height: 15px;
    transition: 0.5s;
}

.arrow-img:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.wrapper-img-cocina{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* FIN DE LA SECCION INFORMACION PLEGABLE */

/* COMIENZO SECCION CONSULTAS */
.container-aux{
    min-height: 200px;
    background-color: #FFFFFF;
    padding: 25px;
    height: 100%;
    font-family: 'Montserrat-Regular';
}

.info-wrap{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.small-info-wrap{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-info{
    width: 100%;
    border-radius: 2px;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #e9e9e9;
    border: none;
    font-family: 'Montserrat-Regular';
}


.send-button{
    background-color: #000000;
    color: #FFFFFF;
    margin-top:10px;
    height: 2rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.send-button:hover{
    background-color: rgba(83, 83, 83, 0.938);
    border-color: rgba(83, 83, 83, 0.938);
}

textarea{
    background-color: #e9e9e9;
    font-size: 1rem;
    border: none;
    resize: none;
    font-family: 'Montserrat-Regular';
}
/* FIN SECCION CONSULTAS */


/* COMIENZO DEL FOOTER */
footer{
    height: 120px;
    background-color: #1b1a1a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-logo-wrap{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-footer{
    margin-left: 4rem;
    height: 4rem;
}

.items-footer{
    width: 16.66%;
    height: 100%;
    font-family: 'Montserrat-Regular';
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2px;
}

.title-item-footer{
    font-weight: bold;
}

.subtitle-item-footer{
    font-size: 0.7rem;
}

.wrapper-social-icons{
    display: flex;
    flex-direction: row;
}
.contact{
    margin-left: 3px;
}

.social-img{
    height: 2rem;
    transition: 0.2s;
}

.social-img:hover{
    transform: scale(1.2);
}
/* FIN DEL FOOTER */

